#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #332c2c;
}

img {
  max-width: 20%;
  border: ridge;
  border-color: rgb(177, 170, 154);
  
}

h1 {
	color: white;
}

h2{
  margin-top: 50px;
  background-color: rgb(223, 222, 216);
  border-style: groove;
  border-color: rgb(217, 216, 216);
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: white;
}