
.navbar {
  margin: 5px;
  font-size: 18px;
  background-color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: rgb(44, 41, 41);
  text-decoration: none;
}

.nav-links a.active {
  border-bottom: 2px ridge rgb(216 213 206);
}

.logo {
  width: 100px;
}