
.navbar {
  font-size: 25px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: rgb(44, 41, 41);
  text-decoration: none;
}

.nav-links a.active {
  border-bottom: 2px ridge rgb(216 213 206);
}

.logo-name {
  width: 600px;
  border-radius: 20px;
  padding: 10px;
}
